[Unit]
Description=HighwayHub NiceGUI Server
After=network.target

[Service]
Type=simple
User=pi
Group=pi

WorkingDirectory=/home/pi/projects/HighwayHub/code

ExecStart=/home/pi/projects/HighwayHub/deploy/1.uv_setup/.venv/bin/python /home/pi/projects/HighwayHub/code/main.py

Restart=always
RestartSec=2

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
